body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: #222222; */
    color: white;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(44, 44, 44, 0.78) 0%,
      #2c2c2c 100%
    );
  }
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color:white;
  }
  a:link(#exclude), a:visited(#exclude){
    text-decoration: none;
    color: blue;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .column {
    display: flex;
    align-items: center;
    flex-direction: column;
  }