body {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    min-height: 100vh;
    /* background: radial-gradient(50% 50% at 50% 50%, #1e1d1d 0%, #010101 100%); */
    overflow-x: hidden;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link(#exclude),
a:visited(#exclude) {
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submit-btn {
    background: rgba(65, 170, 245, 1);
    color: #f8f5f2;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s all;
}

.submit-span {
    height: fit-content;
    height: 2.5rem;
}

.submit-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}